@import './global/variables.scss';

.title h3 {
  margin-top: 30px;
}

.to-do-list {
  background-color: $list-background-color;
  margin-top: 60px; 
  position: relative; 
  
  .title-input {
    @extend %input-design;
    font-size: x-large;
  }

  h3 {
    position: absolute;
    top: 10px; 
    left: 10px; 
    margin: 10px;
    cursor: pointer;
    color: $text-color;
  }

    .add-task-row {
      border-top: 1px solid rgb(179, 177, 177);
      // border-bottom: 1px solid rgb(179, 177, 177);
      display: flex;


      .task-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $border-color;
        margin: 8px;
      }

      .add-task-input-div{
        flex: 1;
        display: flex;
        .add-task-input{
        @extend %input-design;
        }
      }
      .task-icon{
        padding: 4px;
      }
    }

    .display-checked-items{
      .checked-tasks-p{
        .dropdown-toggle::after {
          content: none;
        }
      }
    }

    .added-task{
      border-top: 1px solid rgb(179, 177, 177);
      padding: 7px;
      display: flex;
      justify-content: space-between;

      .delete-icon{
        padding: 4px;
      }

      .checkbox{
        margin: 10px;
      }
    }
}

.checked-tasks-p{
  margin: 4px;
  padding: 4px; 
}

@media (min-width: 660px){
  .to-do-list {
    background-color: $list-background-color;
    margin-top: 100px; 
  }
}